.item {
  min-height: 40rem;
  min-width: 40rem;
  /* padding: 45px; */
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  pointer-events: none;
}

.inner {
  display: flex;
}

.carousel {
  overflow: hidden;
  cursor: grab;
}

.slider {
  margin: 5% 10%;
}
