.item {
  min-height: 10rem;
  width: 40rem;
  padding: 40px;
  margin-left: 2rem;
  margin-right: 2rem;
  /* position: relative; */
  display: block;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  pointer-events: none;
}

.inner {
  display: flex;
  /* background: lightblue; */
}

.carousel {
  overflow: hidden;
  cursor: grab;
  /* background: rgb(230, 173, 173); */
}
