.item {
  min-height: 45rem; /* must use min-height & min-width or won't work */
  min-width: 40rem;
  position: relative; /* must use with layout="fill" (nextjs) */
  margin-left: 2rem;
  margin-right: 2rem;
}

.pic {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  pointer-events: none;
}

.inner {
  display: flex;
}

.carousel {
  overflow: hidden;
  cursor: grab;
}

.slider {
  margin: 7% 10%;
}
